In [77]:
import pandas as pd
import numpy as np
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.optimizers import SGD

data = pd.read_csv(r"C:\Users\Sanford Jone\Downloads\Bank_Personal_Loan_Modelling.csv")

In [78]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5000 non-null   int64
 1   Age                 5000 non-null   int64
 2   Experience          5000 non-null   int64
 3   Income              5000 non-null   int64
 4   ZIP Code            5000 non-null   int64
 5   Family              5000 non-null   int64
 6   CCAvg               5000 non-null   float64
 7   Education           5000 non-null   int64
 8   Mortgage            5000 non-null   int64
 9   Personal Loan       5000 non-null   int64
 10  Securities Account  5000 non-null   int64
 11  CD Account          5000 non-null   int64
 12  Online              5000 non-null   int64
 13  CreditCard          5000 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 547.0 KB

In [79]:
data

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,29,3,40,92697,1,1.9,3,0,0,0,0,1,0
4996,4997,30,4,15,92037,4,0.4,1,85,0,0,0,1,0
4997,4998,63,39,24,93023,2,0.3,3,0,0,0,0,0,0
4998,4999,65,40,49,90034,3,0.5,2,0,0,0,0,1,0
4999,5000,28,4,83,92612,3,0.8,1,0,0,0,0,1,1

In [80]:
data.corr()["Personal Loan"]

ID                   -0.024801
Age                  -0.007726
Experience           -0.007413
Income                0.502462
ZIP Code              0.000107
Family                0.061367
CCAvg                 0.366889
Education             0.136722
Mortgage              0.142095
Personal Loan         1.000000
Securities Account    0.021954
CD Account            0.316355
Online                0.006278
CreditCard            0.002802
Name: Personal Loan, dtype: float64

In [81]:
x = data.drop(['ID', 'ZIP Code', 'Personal Loan'], axis=1)
y = data['Personal Loan']

In [82]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x= scaler.fit_transform(x)

In [83]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [84]:
def fit(w):
    w0 = w[:66].reshape((11, 6))
    w1 = w[66:72].reshape((6,1))
    b0 = np.array([0.,0.,0.,0.,0.,0.])
    b1 = np.array([0.])
    model.layers[0].set_weights([w0, b0])
    model.layers[1].set_weights([w1, b1])
    model.compile(optimizer="SGD", loss="binary_crossentropy")
    loss = model.evaluate(x_train, y_train, verbose=0)
    return -loss

In [85]:
model = Sequential()
model.add(Dense(6, input_dim=x_train.shape[-1], activation='relu'))
model.add(Dense(1, activation='sigmoid'))

# Genetic Algorithm

In [86]:
def genetic_algorithm(pop_size, gens, mut_rate):
    pop = [np.random.uniform(low=-1, high=1, size=77) for _ in range(pop_size)]   
    for gen in range(gens):
        fitness = [fit(x) for x in pop]
        idx = np.argsort(fitness)[-2:]
        parents = [pop[i] for i in idx]
        offsprings = []
        for _ in range(pop_size - len(parents)):
            p1, p2 = parents[0].flatten(), parents[1].flatten()

            cp = np.random.randint(0, len(p1))
            child = np.concatenate([p1[:cp], p2[cp:]])
            child = child.reshape(parents[0].shape)
 
            for i in range(len(child)):
                if np.random.uniform() < mut_rate:
                    child[i] += np.random.normal(loc=0, scale=0.1)
            offsprings.append(child)
        pop = parents + offsprings
        if (gen % 10 == 0):
            print("Gen:", gen)
            
    fitness = [fit(x) for x in pop]
    best_idx = np.argmax(fitness)
    best_w = pop[best_idx]
    return best_w

In [87]:
best_weights = genetic_algorithm(pop_size=20, gens=50, mut_rate=0.1)
w0 = best_weights[:66].reshape((11, 6))
w1 = best_weights[66:72].reshape((6,1))
b0= np.array([0.,0.,0.,0.,0.,0.])
b1 = np.array([0.])

model.layers[0].set_weights([w0, b0])
model.layers[1].set_weights([w1, b1])

Gen: 0
Gen: 10
Gen: 20
Gen: 30
Gen: 40

In [90]:
model.compile(optimizer="SGD", loss="binary_crossentropy",metrics=['accuracy'])

In [91]:
from sklearn.metrics import accuracy_score
y_pred = model.predict(x_test)
y_pred = (y_pred > 0.5)
accuracy_score(y_pred,y_test)

47/47 [==============================] - 0s 1ms/step

0.9593333333333334